@page "/muscles"

@using NRGSystemsWebSite.Services
@using NRGSystemsWebSite;
@using NRGSystemsWebSite.Models;
@inject FunctionRestService apiClient
@inject NavigationManager NavigaitonManager


<h1 style="font-family:Cooper">MuscleList</h1>


@if (muscObject is null)
{
    <p><em>Loading ..........</em></p>
}
else
{
    <table class="table" style="color:aliceblue; font-family:Cooper">
        <thead>
            <tr>
                <th> NAME </th>
                <th> IMAGE </th>
                <th> LOCATION </th>
                <th> INSERTION </th>
                <th> ORIGIN </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var muscle in muscObject)
            {
                <tr>
                    <td> @muscle.Name </td>
                    <td>
                        <img src="@muscle.Image" width="50" />
                    </td>
                    <td> @muscle.Location </td>
                    <td> @muscle.Insertion </td>
                    <td> @muscle.Origin </td>

                    <td>
                        <a class="nav-link btn btn-info" href="ViewMuscle/@muscle.StringName">
                            <span style="color:deeppink; font-size:large; font-weight:bold" class="oi oi-trash" aria-hidden="true"> VIEW </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public List<Muscle> muscObject = new List<Muscle>();

    protected override void OnInitialized()
    {
        int i = 0;
        foreach (var muscle in Muscles.GetMuscles())
        {
            muscle.MuscleId = i;
            i++;
            muscObject.Add(muscle);
        }
    }

}

